{% extends 'base.html' %}
{% load widget_tweaks %}

{% block body %}
    
    <h3>Stock In</h3><br><br><br>

    {% if error_message %}
        <p class="text-danger"><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form class="form form-horizontal form-row" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="col-sm-offset-3 col-sm-9">
            <span class="text-danger small">{{ form.product_name.errors }}</span>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-offset-1 col-sm-2">{{ form.product_name.label_tag }}</label>
            <div class="col-lg-8">{% render_field form.product_name class="form-control" %}</div>
        </div>

        <br>
        <div class="form-group">

                <button type="submit" name="addanother" class="btn btn-success col-sm-offset-4 col-sm-2">
                    Add another
                </button>
                <button type="submit" name="save" class="btn btn-success col-sm-offset-3 col-sm-1">
                    Save
                </button>
        </div>

    </form>


{% endblock %}